* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.png);
}

#calculator {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    margin: auto;
    background-color: rgba(198,16,18,255);
    width: 610px;
    height: 760px;
    border-radius: 300px 300px 200px 200px;
    border:  solid rgb(0, 0, 0) 30px;
    outline: 2px solid rgb(255, 255, 255);
}

#display {
    background-color: rgba(149,202,220,255);
    width: 400px;
    height: 150px;
    margin: 85px auto;
    border-radius: 90px;
    border: solid rgba(20,41,58,255) 30px;
    position: relative;
}

#operations {
    float: right;
    margin-right: 50px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    color: rgba(79,125,161,255);
    opacity: 0.9;
}

#answer {
    position: absolute;
    right: 40px;
    top: 35px;
    font-family: 'Patrick Hand', cursive;
    font-size: 80px;
    color: aliceblue;
}

#numbers {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 60px 60px 60px 60px;
    column-gap: 15px;
    row-gap: 15px;
    position: absolute;
    top: 380px;
    left: 80px;
}

.numbers {
    border-radius: 100px;
    font-family: 'Patrick Hand', cursive;
    font-size: 45px;
    background-color: aliceblue;
    border: solid black 3px;
}

#deletebtn {
    position: absolute;
    top: 305px;
    right: 100px;
    border-radius: 100px;
    font-family: 'Patrick Hand', cursive;
    font-size: 45px;
    width: 150px;
    border: solid #c14956 3px;
    background-color: #efbabe;
    color: #c14956;
}

#clearbtn {
    position: absolute;
    top: 305px;
    right: 260px;
    border-radius: 100px;
    font-family: 'Patrick Hand', cursive;
    font-size: 45px;
    border: solid #c14956 3px;
    background-color: #efbabe;
    color: #c14956;
    width: 150px;

}

#symbols {
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px;
    row-gap: 15px;
    position: absolute;
    top: 380px;
    right: 100px;
    grid-template-columns: 115px;
}

.symbols {
    border-radius: 100px;
    font-family: 'Patrick Hand', cursive;
    font-size: 45px;
    background-color: aliceblue;
    border: solid black 3px;
}

#equal {
    position: absolute;
    bottom: 0px;
    width: 150px;
    right: 0px;
    background-color: #add4bf;
    border: solid #4b8a5c 3px;
    color: #4b8a5c;
}

#credit {
    color: rgb(0, 0, 0);
    font-family: 'Patrick Hand', cursive;
    font-size:25px;
    background-color: aliceblue;
    width: 260px;
}